@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 4%; /* #0a0a0c */
    --foreground: 210 40% 98%; /* slate-100-ish */

    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 243 75% 59%; /* indigo-500 */
    --primary-foreground: 210 40% 98%;

    --secondary: 217 19% 27%; /* slate-800 */
    --secondary-foreground: 210 40% 98%;

    --muted: 217 19% 27%;
    --muted-foreground: 215 20% 65%; /* slate-500 */

    --accent: 189 94% 43%; /* cyan-500 */
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 19% 27%;
    --input: 217 19% 27%;
    --ring: 224 76% 48%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
